body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type='text']{
  font-style: normal !important;
}
body > iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

.disabled_input{
  opacity: 1;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.38);
}


.sticky-col-1 {
  position: sticky;
  left: 20px;
  z-index: 1;
}

.sticky-col-2 {
  position: sticky;
  left: 60px; 

  z-index: 1;
}

.sticky-col-3 {
  position: sticky;
  left: 100px; 

  z-index: 1;
}

.sticky-col-4 {
  position: sticky;
  left: 242px;
  z-index: 1;
}
.sticky-col-5 {
  position: sticky;
  left: 0;
  z-index: 1;
}
.sticky-col-6 {
  position: sticky;
  left: 384px;
  z-index: 1;
}
.sticky-col-7 {
  position: sticky;
  left: 526px;
  z-index: 1;
}

.sticky-col {
 background-color: #EDEDED;
}

.sticky-col-text {
 background-color: #fff;
}
/* .box-padding {
  padding: 1px;
} */

a {
  text-decoration: none;
}